body {
    font-family: 'Poppins', sans-serif;
    background: url("/images/homepage.jpg") no-repeat fixed center;
};

.center{
  display: flex;
  justify-content: center;
}

/* .border-green{
  border: solid 4px rgb(76, 179, 76);
  border-radius: 12px;
  filter: drop-shadow(0 0 0.45rem rgb(11, 58, 5));
} */

.dropdown--link:hover {
  background-color: rgb(240, 240, 240);
  filter: drop-shadow(0 0 0.25rem rgb(11, 58, 5));
  opacity: 0.6;
}

.active:hover {
  background-color: aquamarine;
  color: aqua;
}

/* Footer  */
.footer {
  display: flex;
  justify-content: center;
  background-color: rgb(61, 146, 61);
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (max-width: 1060px){
  
  .lt--credit{
    margin-top: 1.5rem;
  }

}

@media (max-width: 990px){

  h1{
      font-size: 1.5rem;
  }

  /* .navbar-light .navbar-toggler-icon{
    background-color:rgb(76, 179, 76);
  }
  button > .navbar-toggler collapsed{
    color:rgb(76, 179, 76);
  } */

}

