body {
    font-family: 'Poppins', sans-serif;
    background: url("/images/homepage.jpg") no-repeat fixed center;
};

.center{
  display: flex;
  justify-content: center;
}

.border-green{
  border: solid 4px rgb(76, 179, 76);
  border-radius: 12px;
  filter: drop-shadow(0 0 0.45rem rgb(11, 58, 5));
}


