body {
    font-family: 'Poppins', sans-serif;
    background: url("/images/homepage.jpg") no-repeat fixed center;
};

.center{
  display: flex;
  justify-content: center;
}

.dropdown--link:hover {
  background-color: rgb(240, 240, 240);
  filter: drop-shadow(0 0 0.25rem rgb(11, 58, 5));
  opacity: 0.6;
}

.btn--margin{
  margin-left: 4.1rem;
}

/* Footer  */
.footer {
  display: flex;
  justify-content: center;
  background-color: rgb(61, 146, 61);
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (max-width: 1060px){
  
  .lt--credit{
    margin-top: 1.5rem;
  }

}

@media (max-width: 990px){

  h1{
      font-size: 1.5rem;
  }
  #collasible-nav-dropdown{
    margin-left: 3rem;
  }
}

@media (max-width: 667px){

  h1{
      font-size: 1rem;
  }
  .navbar-brand{
    margin: 0 2rem;
  }
  .navbar-toggler {
    display: none;
  }

  p {
    font-size: .6rem;
  }

  .btn-outline-warning{
    margin-bottom: 1rem;
  }

  .lt--credit{
    max-width: 95%;
  }
  /* #collasible-nav-dropdown{
    margin-left: 3rem;
  } */
}

